/*.container-fluid {
	background-image: none;
	background-color: coral;
}*/
.dl-small {
  margin-bottom: 4px;
}

form {
  margin: 0 auto;
  padding: 1em;
  width: 70%;
  background-color: #333;
  color: white;
  border-radius: 5px;
}

.form-control {
  width: auto;
}

.form-control-small {
  width: 80%;
}

.form-control-large {
  width: 80%;
}

.list-group {
	color:black;
	background-color: #585858;
}

#newAddressForm {
  width: 80%;
}