<!-- NAVBAR -->
<div class="top-box">
  <div class="navbar">
    <ul>
      <li><a class="active" routerLink="/dashboard"><img src="assets/favicon.ico" height="30" width="50"></a></li>
      <li>
        <div class="wrapper">
          <input type="text" placeholder="Search BucciBazaar" />
          <button id="search_btn">GO</button>
        </div>
      </li>
      <a (click)="onSignOut()"><li style="float: right;">Signout</li></a>
      <a routerLink="/bucci"><li style="float: right;">About Bucci</li></a>
      <a routerLink="/myaccount"><li style="float: right;">My Account</li></a>
      <a routerLink="/cart"><li *ngIf="isCustomer" style="float: right;">Shopping Cart</li></a>
      <a routerLink="/store"><li *ngIf="isVendor" style="float: right;">Store Inventory</li></a>

    </ul>
  </div>
</div>

