<app-navbar></app-navbar>
<div id="flash-message">
  <flash-message></flash-message>
</div >
<!-- LIST OF CART -->
	<div class="container" id="a">
		<table id="cart" class="table table-condensed">
			<thead>
				<tr>
					<th style="width:50%"><h4>Product</h4></th>
					<th style="width:10%"><h4>Price</h4></th>
					<th style="width:8%"><h4>Quantity</h4></th>
					<th style="width:22%" class="text-center"><h4>Subtotal</h4></th>
					<th style="width:10%"></th>
				</tr>
			</thead>
			<tbody>
		<tr class="listItem" *ngFor="let item of shopping_cart">
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-2 hidden-xs"><img src="{{item.Item.Picture}}" alt="..." class="img-responsive"/></div>
						<div class="col-sm-10">
							<h4 class="nomargin">{{item.Item.Product_Name}}</h4>
						</div>
					</div>
				</td>
				<td data-th="Price">${{item.Item.Price}}</td>
				<td data-th="Quantity">
					<input id="someQuantityy" ng-model="quant" type="number" class="form-control text-center" max="{{item.Item.Quantity}}" min="1" [(ngModel)]="item.Cart.Quantity"> 
				</td>
				<td data-th="Subtotal" class="text-center">$ {{item.Cart.Quantity * item.Item.Price | number : '1.2-2'}}</td>
				<td class="actions" data-th="">
					<button class="btn btn-danger btn-sm" ><i class="fa fa-trash-o"></i>Delete</button>								
				</td>
			</tr>
		</tbody>

		<!-- (click)="deleteItem(item.ItemID)" -->
		<!-- http://placehold.it/100x100 -->
		
		<tfoot>
			<tr>
				<td><a class="btn btn-warning" (click)="continueShopping()"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
				<td colspan="2" class="hidden-xs"></td>
				<td class="hidden-xs text-center"><strong>Total ${{sumTotal() | number : '1.2-2'}}</strong></td>
				<td><a class="btn btn-success btn-block" (click)="checkout()">Checkout <i class="fa fa-angle-right"></i></a></td>
			</tr>
		</tfoot>
	</table>
</div>