<app-navbar></app-navbar>
<div class="container">
	<h1>BUCCI</h1>
	<h3>Bucci Bazaar was founded in November of 2017. Our company mission is to bring our customers the latest and greatest in mechandise material that money can buy. Our vendors go through out patented <strong> bucci screening</strong> to ensure the finest in the world. We combine the latest technologies in <strong> ANGULAR JS </strong> for front end with <strong> Node JS </strong> backend.</h3>
	<br>
	<h3>"STAY BUCCI" -bucci bazaar founders</h3>
</div>