<!-- <head>  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> -->
<app-navbar></app-navbar>
<div class="container">
	<h3>Write a review for: </h3>
	<h2>{{item.Product_Name}}</h2>
	<div id="flash-message">
		<flash-message></flash-message>
	</div>
	<div class="container">
		<table width="80%">
			<div id="card">
				<div class="card-block">
					<tr>
						<td width="15%"><img src={{item.Picture}} style="height: 160px; width: 160px;"></td>
						<td><br></td>
						<td width="255%">
							<form (submit)="submitReview($event)">
								<div class="form-group row">
									<label for="example-number-input" class="col-2 col-form-label">Star Rating (1-5):</label>
									<div class="col-10">
										<input type="number"  name="starRating" [(ngModel)]="starRating" value="1"  min=1 max=5 width="10%">
									</div>
								</div>
								<div class="form-group">
									<label for="comment">Comment:</label>
									<textarea name="textReview" [(ngModel)]="textReview" class="form-control" rows="5" id="comment" placeholder="Enter Review Here..."></textarea>
								</div>
								<div class="row">
									<button type="submit"><strong>Submit</strong></button>
								</div>
							</form></td>
						</tr>
					</div>
				</div>
			</table>

		</div>
	</div>
