.container {
  background-color: #333;
  border-radius: 25px;
  color: white;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
}
button {
  color: black;
  tex
  background-color: #00b200;
  align-self: center;  
  margin: auto;
  border-radius: 5px;
  width: 30%;
}
input { 
  color: black;
}
table, tr, td {
  padding: 20px;
}