<app-navbar></app-navbar>
<!-- BODY -->
<div id="a">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 item-photo">
        <img src={{item.item_desc.Picture}} />
      </div>
      <div class="col-xs-5" style="border:0px solid gray">
        <h3>{{item.item_desc.Product_Name | uppercase}}</h3>
        <h5 style="color:#337ab7">Quantity  left {{item.item_desc.Quantity}}</h5>
        <h3 style="margin-top:0px;">$ {{item.item_desc.Price}}</h3>
        <p>{{item.item_desc.Product_Desc}}</p>
        <div class="section" style="padding-bottom:20px;">
          Quantity
          <div class="quantity-count">
            <div class="btn-minus" (click)="minusQuantity()"><span class="glyphicon glyphicon-minus"></span></div>
            <input id="itemQuantity" value={{itemQuantity}} />
            <div class="btn-plus" (click)="addQuantity()"><span class="glyphicon glyphicon-plus"></span></div>
          </div>
        </div>
        <div class="section" style="padding-bottom:20px;">
          <button class="btn btn-success" (click)="addToCart()"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="card-block" class="card-block">
  <h3>Reviews</h3>
  <div class="card" id="card" *ngFor="let review of item.reviews">
    <p><br>" {{review.Text}} "</p>
    <img src="assets/{{review.Rating}}stars.png">
    <h6> - {{review.CustomerID}}</h6>
  </div>
</div>


