<app-navbar></app-navbar>
<!-- BODY -->
<div id="a">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 item-photo">
        <img style="max-width:100%;" src={{item.picture}} />
      </div>
      <div class="col-xs-5" style="border:0px solid gray">
        <h3>{{item.product_name | uppercase}}</h3>
        <h5 style="color:#337ab7">Quantity  left {{item.quantity}}</h5>
        <h3 style="margin-top:0px;">$ {{item.price}}</h3>
        <div class="section" style="padding-bottom:20px;">
          <h6 class="title-attr"><small>Quantity</small></h6>
          <div>
            <div class="btn-minus" (click)="minusQuantity()"><span class="glyphicon glyphicon-minus"></span></div>
            <input id="itemQuantity" value={{itemQuantity}} />
            <div class="btn-plus" (click)="addQuantity()"><span class="glyphicon glyphicon-plus"></span></div>
          </div>
        </div>
        <div class="section" style="padding-bottom:20px;">
          <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</button>
        </div>
      </div>
      <div class="col-xs-9">
        <div style="width:100%;border-top:1px solid silver">
          <p style="padding:15px;">
            <small>{{item.product_desc}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="card-block" class="card-block">
  <h3>Reviews</h3>
  <div class="card" id="card" *ngFor="let review of reviews">
    <p><br>" {{review.text}} "</p>
    <img src="assets/{{review.rating}}stars.png">
    <h6> - {{review.customerID}}</h6>
  </div>
</div>


