<!-- <!DOCTYPE html>
<html>
<head>
	<base href=""/>
</head>
<body>

	<ul>
		<li><a class="active" href="dashboard">Home</a></li>
		<li><a href="shoppingcart">News</a></li>
		<li><a href="myaccount">MyAccount</a></li>
		<li style="float:right"><a href="#about">About</a></li>
		<li style="float:right" (click)="logoutUser($event)"><a href="login">Logout</a></li>
	</ul>
	<div class="container">
		<a href="register"><img src="assets/5.png" alt="carousel image"/></a>
	</div>
</body>
</html>
-->
<!-- NAVBAR -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">Navbar</a>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="#">Features</a>
			<a class="nav-item nav-link" href="#">Pricing</a>
		</div>
	</div>
</nav>
<!-- CAROUSEL -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item active">
			<a href="login"><img class="d-block img-fluid" src="assets/3.png" alt="First slide"></a>
		</div>
		<div class="carousel-item">
			<a href="login"><img class="d-block img-fluid" src="assets/4.png" alt="Second slide"></a>
		</div>
		<div class="carousel-item">
			<a href="login"><img class="d-block img-fluid" src="assets/5.png" alt="Third slide"></a>
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<!-- GRID -->

<div class="item  col-xs-4 col-lg-4 grid-group-item">
	<div class="thumbnail">
		<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
		<div class="caption">
			<h4 class="group inner list-group-item-heading">
				Product title</h4>
				<p class="group inner list-group-item-text">
					Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<p class="lead">
								$21.000</p>
							</div>
							<div class="col-xs-12 col-md-6">
								<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="item  col-xs-4 col-lg-4 grid-group-item">
				<div class="thumbnail">
					<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
					<div class="caption">
						<h4 class="group inner list-group-item-heading">
							Product title</h4>
							<p class="group inner list-group-item-text">
								Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
								<div class="row">
									<div class="col-xs-12 col-md-6">
										<p class="lead">
											$21.000</p>
										</div>
										<div class="col-xs-12 col-md-6">
											<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="item  col-xs-4 col-lg-4 grid-group-item">
							<div class="thumbnail">
								<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
								<div class="caption">
									<h4 class="group inner list-group-item-heading">
										Product title</h4>
										<p class="group inner list-group-item-text">
											Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
											<div class="row">
												<div class="col-xs-12 col-md-6">
													<p class="lead">
														$21.000</p>
													</div>
													<div class="col-xs-12 col-md-6">
														<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
													</div>
												</div>
											</div>
										</div>
									</div>



									<div class="item  col-xs-4 col-lg-4 grid-group-item">
										<div class="thumbnail">
											<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
											<div class="caption">
												<h4 class="group inner list-group-item-heading">
													Product title</h4>
													<p class="group inner list-group-item-text">
														Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
														<div class="row">
															<div class="col-xs-12 col-md-6">
																<p class="lead">
																	$21.000</p>
																</div>
																<div class="col-xs-12 col-md-6">
																	<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
																</div>
															</div>
														</div>
													</div>
												</div>




												<div class="item  col-xs-4 col-lg-4 grid-group-item">
													<div class="thumbnail">
														<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
														<div class="caption">
															<h4 class="group inner list-group-item-heading">
																Product title</h4>
																<p class="group inner list-group-item-text">
																	Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
																	<div class="row">
																		<div class="col-xs-12 col-md-6">
																			<p class="lead">
																				$21.000</p>
																			</div>
																			<div class="col-xs-12 col-md-6">
																				<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>




															<div class="item  col-xs-4 col-lg-4 grid-group-item">
																<div class="thumbnail">
																	<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
																	<div class="caption">
																		<h4 class="group inner list-group-item-heading">
																			Product title</h4>
																			<p class="group inner list-group-item-text">
																				Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
																				<div class="row">
																					<div class="col-xs-12 col-md-6">
																						<p class="lead">
																							$21.000</p>
																						</div>
																						<div class="col-xs-12 col-md-6">
																							<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>





