<!-- NAVBAR -->
<app-navbar></app-navbar>
<div id="flash-message">
  <flash-message></flash-message>
</div>
<!-- CAROUSEL -->
<div id="carousel" id="carousel">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <a href="login"><img class="d-block img-fluid img-responsive center-block" src="assets/3.png" alt="First slide"></a>
      </div>
      <div class="carousel-item">
        <a href="login"><img class="d-block img-fluid img-responsive center-block" src="assets/4.png" alt="Second slide"></a>
      </div>
      <div class="carousel-item">
        <a href="login"><img class="d-block img-fluid img-responsive center-block" src="assets/5.png" alt="Third slide"></a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br>
<!-- GRID -->
<div *ngFor="let item of raw_items">
<div class="item  col-xs-4 col-lg-4 grid-group-item">
  <div class="thumbnail">
    <a routerLink="/item/{{item.item_desc.ItemID}}"><img class="group list-group-image" src={{item.item_desc.Picture}} alt=""/></a>
    <div class="caption">
      <h3 class="group inner list-group-item-heading">
        {{item.item_desc.Product_Name}}
      </h3>
      <p class="group inner list-group-item-text">
        {{item.item_desc.Product_Desc}}
      </p>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p class="lead">
            ${{item.item_desc.Price}}
          </p>
        </div>
        <div class="col-xs-12 col-md-6" *ngIf="item.item_desc.Available == 1">
          <a class="btn btn-success" routerLink="/item/{{item.item_desc.ItemID}}">See More</a>
        </div>
        <div class="col-xs-12 col-md-6" *ngIf="item.item_desc.Available == 0">
          Not Available
        </div>
      </div>
    </div>
  </div>
</div>
</div>

