<div class="container">
<h2>Register</h2>
<div id="flash-message">
  <flash-message></flash-message>
</div>
<ul class="nav nav-pills">
  <li id="customertab" class="active" (click)="selectCustomerTab($event)"><a class="active" data-toggle="pill">Customer</a></li>
  <li id="vendortab" class="" (click)="selectVendorTab($event)"><a class="active" data-toggle="pill">Vendor</a></li>
</ul>
<div class="tab-content">
  <div id="customercontent" class="tab-pane fade in active">
  <form (submit)="registerCustomer($event)">
    <div class="row">
      <h4>Account</h4>
      <div class="input-group input-group-icon">
        <input name="customerUserName" [(ngModel)]="customerUserName" type="text" placeholder="User Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerFirsName" [(ngModel)]="customerFirstName" type="text" placeholder="First Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerLastName" [(ngModel)]="customerLastName" type="text" placeholder="Last Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerEmail" [(ngModel)]="customerEmail" type="email" placeholder="Email Adress"/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerPassword" [(ngModel)]="customerPassword" type="password" placeholder="Password"/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerPhone" [(ngModel)]="customerPhone" type="text" placeholder="Phone Number"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerAddressStreet" [(ngModel)]="customerAddressStreet" type="address" placeholder="Street Adress"/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
    </div>
    <div class="row">
          <div style="width:35%; padding-right: 5px;">
          <input name="customerAddressCity" [(ngModel)]="customerAddressCity" type="text" placeholder="City"/>
          </div>
          <div style="width:15%; padding-right: 5px; padding-left: 5px;">
          <input name="customerAddressState" [(ngModel)]="customerAddressState" type="text" placeholder="State"/>
          </div>
          <div style="width:20%; padding-right: 5px; padding-left: 5px;">
          <input name="customerAddressZip" [(ngModel)]="customerAddressZip" placeholder="Zip" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "5"/>
          </div>
          <div style="width:30%; padding-left: 5px;">
          <input name="customerAddressCountry" [(ngModel)]="customerAddressCountry" type="text" placeholder="Country"/>
          </div>
    </div>
    <div class="row" style="padding-top: 10px;">
      <button type="submit">Submit</button>
    </div>
    </form>
  </div>
  <div id="vendorcontent" class="tab-pane fade">
  <form (submit)="registerVendor($event)">
    <h3>Vendor</h3>
    <div class="row">
      <div class="input-group input-group-icon">
        <input name="vendorStoreName" [(ngModel)]="vendorStoreName" type="text" placeholder="Store Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input [(ngModel)]="vendorUserName" name="vendorUserName" type="text" placeholder="Vendor User Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerPassword" [(ngModel)]="vendorPassword" type="password" placeholder="Password"/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerFirsName" [(ngModel)]="vendorFirstName" type="text" placeholder="First Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerLastName" [(ngModel)]="vendorLastName" type="text" placeholder="Last Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerEmail" [(ngModel)]="vendorEmail" type="email" placeholder="Email Adress"/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerPhone" [(ngModel)]="vendorPhone" type="text" placeholder="Phone Number"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerAddressStreet" [(ngModel)]="vendorAddressStreet" type="address" placeholder="Street Adress"/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
    </div>
    <div class="row">
          <div style="width:35%; padding-right: 5px;">
          <input name="customerAddressCity" [(ngModel)]="vendorAddressCity" type="text" placeholder="City"/>
          </div>
          <div style="width:15%; padding-right: 5px; padding-left: 5px;">
          <input name="customerAddressState" [(ngModel)]="vendorAddressState" type="text" placeholder="State"/>
          </div>
          <div style="width:20%; padding-right: 5px; padding-left: 5px;">
          <input name="customerAddressZip" [(ngModel)]="vendorAddressZip" placeholder="Zip" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "5"/>
          </div>
          <div style="width:30%; padding-left: 5px;">
          <input name="customerAddressCountry" [(ngModel)]="vendorAddressCountry" type="text" placeholder="Country"/>
          </div>
        </div>
      <div class="input-group" style="padding-top: 10px;">
        <textarea [(ngModel)]="vendorStoreDesc" name="vendorStoreDesc" type="text" placeholder="Description">
        </textarea>
      </div>
    <div>
      <button type="submit">Submit</button>
    </div>
    </form>
  </div>
</div>

