<div class="container">
<h2>Register</h2>

<ul class="nav nav-pills">
  <li id="customertab" class="active" (click)="selectCustomerTab($event)"><a class="active" data-toggle="pill">Customer</a></li>
  <li id="vendortab" class="" (click)="selectVendorTab($event)"><a class="active" data-toggle="pill">Vendor</a></li>
</ul>
<div class="tab-content">
  <div id="customercontent" class="tab-pane fade in active">
  <form (submit)="registerCustomer($event)">
    <div class="row">
      <h4>Account</h4>
      <div class="input-group input-group-icon">
        <input name="customerUserName" [(ngModel)]="customerUserName" type="text" placeholder="User Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerFirsName" [(ngModel)]="customerFirstName" type="text" placeholder="First Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerLastName" [(ngModel)]="customerLastName" type="text" placeholder="Last Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerEmail" [(ngModel)]="customerEmail" type="email" placeholder="Email Adress"/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerPassword" [(ngModel)]="customerPassword" type="password" placeholder="Password"/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerPhone" [(ngModel)]="customerPhone" type="text" placeholder="Phone Number"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input name="customerAddressStreet" [(ngModel)]="customerAddressStreet" type="address" placeholder="Street Adress"/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
    </div>
    <div class="row">
      <div class="col-half">
        <div class="input-group">
          <div class="col-third"><input name="customerAddressCity" [(ngModel)]="customerAddressCity" type="text" placeholder="City"/></div>
          <div class="col-third"><input name="customerAddressState" [(ngModel)]="customerAddressState" type="text" placeholder="State"/></div>
        </div>
      </div>
      <div class="col-half">
        <div class="input-group">
          <div class="col-half"><input name="customerAddressZip" [(ngModel)]="customerAddressZip" type="number" placeholder="Zip"/></div>
          <div class="col-half"><input name="customerAddressCountry" [(ngModel)]="customerAddressCountry" type="text" placeholder="Country"/></div>
        </div>
      </div>
    </div>
<!--     <div class="row">
      <div class="col-half">
        <h4>Date of Birth</h4>
        <div class="input-group">
          <div class="col-third">
            <input name="customerDOBDD" [(ngModel)]="customerDOBDD" type="text" placeholder="DD" maxlength="2"/>
          </div>
          <div class="col-third">
            <input name="customerDOBMM" [(ngModel)]="customerDOBMM" type="text" placeholder="MM" maxlength="2"/>
          </div>
          <div class="col-third">
            <input name="customerDOBYYYY" [(ngModel)]="customerDOBYYYY" type="text" placeholder="YYYY" maxlength="4"/>
          </div>
        </div>
      </div>
      <div class="col-half">
        <h4>Gender</h4>
        <div class="input-group">
          <select id="customerGender" class="gender-input">
            <option value="" disabled selected>Select your option</option>
            <option>Male</option>
            <option>Female</option>
            <option>Agender</option>
            <option>Androgyne</option>
            <option>Bigender</option>
            <option>Genderqueer</option>
            <option>Gender Bender</option>
            <option>Hijra</option>
            <option>Pangender</option>
            <option>Queer heterosexuality</option>
            <option>P-60 Helicopter</option>
          </select>
        </div>
      </div>
    </div> -->
    <div class="row">
      <h4>Payment Details</h4>
      <div class="input-group input-group-icon">
        <input id="paymentFirstName" type="text" placeholder="Card Holder First Name"/>
        <div class="input-icon"><i class="fa fa-credit-card"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input id="paymentLastName" type="text" placeholder="Card Holder Last"/>
        <div class="input-icon"><i class="fa fa-credit-card"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input id="paymentCardNumber" type="text" placeholder="Card Number"/>
        <div class="input-icon"><i class="fa fa-credit-card"></i></div>
      </div>
      <div class="col-half">
        <div class="input-group input-group-icon">
          <input id="paymentCardCVC" type="text" placeholder="Card CVC"/>
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
      </div>
      <div class="col-half">
        <div id="paymentCardExpMM" class="input-group">
          <select>
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>
          <select id="paymentCardExpYYYY">
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
          </select>
        </div>
      </div>
    <div class="input-group input-group-icon">
        <input id="paymentAddressStreet" type="address" placeholder="Cardholder Adress"/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
    </div>
    <div class="row">
      <div class="col-half">
        <div class="input-group">
          <div class="col-third"><input id="paymentAddressCity" type="text" placeholder="City"/></div>
          <div class="col-third"><input id="paymentAddressState" type="text" placeholder="State"/></div>
        </div>
      </div>
      <div class="col-half">
        <div class="input-group">
          <div class="col-half"><input id="paymentAddressZip" type="text" placeholder="Zip"/></div>
          <div class="col-half"><input id="paymentAddressCountry" type="text" placeholder="Country"/></div>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="submit">Submit</button>
    </div>
    </form>
  </div>
  <div id="vendorcontent" class="tab-pane fade">
  <form (submit)="registerVendor($event)">
    <h3>Vendor</h3>
    <div class="row">
      <div class="input-group input-group-icon">
        <input [(ngModel)]="vendorUserName" name="vendorUserName" type="text" placeholder="Vendor Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input [(ngModel)]="vendorPassword" name="vendorPassword" type="text" placeholder="Vendor Password"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input id="vendorDesc" [(ngModel)]="vendorDesc" name="vendorDesc" type="text" placeholder="Description"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
    </div>
    <div class="row">
      <button type="submit">Submit</button>
    </div>
    </form>
  </div>
</div>

